<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huhu.wordgo.repo.dao.PositionDao">
    <resultMap id="BaseResult" type="com.huhu.wordgo.repo.po.PositionPO">
        <id property="id" column="id" />
        <result property="originId" column="origin_id" />
        <result property="poIndex" column="po_index" />
        <result property="poName" column="po_name" />
        <result property="create_time" column="createTime" />
        <result property="update_time" column="updateTime" />
    </resultMap>

    <select id="selectPositionByOriginIdAndPoIndexAndPoName" parameterType="com.huhu.wordgo.repo.po.PositionPO" resultMap="BaseResult">
        SELECT *
        FROM position
        WHERE origin_id = #{originId}
          AND po_index = #{poIndex}
          AND po_name = #{poName}
    </select>

    <select id="selectPositionById" parameterType="java.lang.Integer" resultMap="BaseResult">
        SELECT *
        FROM position
        WHERE id = #{id}
    </select>

    <insert id="insertPosition" parameterType="com.huhu.wordgo.repo.po.PositionPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO position (origin_id, po_index, po_name, create_time, update_time)
        VALUES (#{originId}, #{poIndex}, #{poName}, #{createTime}, #{updateTime})
    </insert>
</mapper>
