<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huhu.wordgo.repo.dao.SentenceDao">
    <resultMap id="BaseResult" type="com.huhu.wordgo.repo.po.WordPO">
        <id property="id" column="id" />
        <result property="content" column="content" />
        <result property="positionId" column="position_id"/>
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <insert id="insertSentence" parameterType="com.huhu.wordgo.repo.po.SentencePO">
        INSERT INTO sentence(content, position_id, create_time, update_time)
        VALUES (#{content}, #{positionId}, #{createTime}, #{updateTime})
    </insert>

</mapper>
